useDynLib(metaSDT, .registration = TRUE)
import(Rcpp)
importFrom(ggplot2,aes)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_text)
importFrom(ggplot2,geom_area)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_vline)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,labs)
importFrom(ggplot2,scale_color_manual)
importFrom(ggplot2,scale_fill_manual)
importFrom(ggplot2,theme)
importFrom(ggplot2,theme_minimal)
export(matrix_freq)
export(matrix_prob)
export(matrix_mult)
export(criterion_likelihood)
export(criterion_prior)
export(criterion_posterior)
export(info_data)
export(modify_params)
export(modify_priors)
export(model_sdt)
export(model_bch)
export(model_normal)
export(model_lognormal)
export(model_decay)
export(default_shell_run_m_option)
export(shell_run_m)
S3method(print,metaSDT.shell_run_m)
S3method(plot,metaSDT.shell_run_m)
export(estimate_mle)
export(estimate_map)
export(estimate_mcmc)
export(estimate_abc)
