useDynLib(metaSDT, .registration = TRUE)
import(Rcpp)
export(matrix_freq)
export(matrix_prob)
export(matrix_mult)
export(criterion_likelihood)
export(criterion_prior)
export(criterion_posterior)
export(data_info)
export(modify_params)
export(modify_prior)
export(model_sdt)
export(estimate_mle)
export(estimate_map)
